<!DOCTYPE html>

<html>

	<head>
		<title>UOG</title>
	</head>

	<body>
		<div>
			{% if courses %}
				<h1>{{ Course.Name }}</h1>
				{% if Reviews %}
					<ul>
						{% for Review in Reviews %}
						<li>Rating: {{ Review.Rating }} Price: {{ Review.Price }} Text: {{ Review.Text }}</</li>
				
						{% endfor %}
					</ul>
				{% else %}
					<strong>No Reviews currently for course.</strong>
				{% endif %}
			{% else %}
				The this course does not exist.
			{% endif %}
		</div>
		<div>
			<a href="/reviewer/">Home</a><br />
		</div>
	</body>

</html>
